{% macro render_book_form(roles, book_data={}, errors={}, action="edit") %}
    <form
        method="post"
        {% if action == 'create' %}
          enctype="multipart/form-data"
        {% endif %}
        class="flex flex-col gap-4 w-full h-full"
    >
        <div class="grid gap-4 w-full sm:gap-6 {% if action=="create" %}md:grid-cols-2{% endif %} lg:gap-7 xl:gap-8">
          {% if action=="create" %}
            <input
                class="hidden"
                type="file"
                id="imageUpload"
                name="book_cover"
                accept="image/*"
            >

            <div
                id="loadImageForBook"
                class="border border-solid border-black cursor-pointer bg-white min-h-[320px] rounded-xl w-full h-full md:min-h-[420px] xl:min-h-[520px] hover:bg-[#EDEDED]"
            >
              <div class="flex items-center justify-center p-4 w-full h-full sm:p-6 md:p-7 lg:p-8">
                <img
                    class="select-none min-w-[100px] md:min-w-[160px] xl:min-w-[240px]"
                    src="../static/images/image_load.png"
                    alt="Image"
                    loading="lazy"
                    draggable="false"
                >
              </div>
            </div>
          {% endif %}

          <div class="flex flex-col gap-4 w-full">
            <input
              type="text"
              name="book_name"
              placeholder="Название книги..."
              value="{{ book_data.name or ''}}"
              class="block border border-solid border-black rounded outline-none pl-2 py-2 pr-12 w-full h-[42px]"
            >

            <select
              name="book_genre"
              class="cursor-pointer border border-solid border-black rounded p-2 outline-none h-[42px] w-full md:w-auto hover:bg-black hover:text-white"
            >
              <option>
                {% if action == 'edit' %}
                  {{ book_data.genre }}
                {% else %}
                  Видения
                {% endif %}
              </option>
              <option>Новелла</option>
              <option>Ода</option>
              <option>Опус</option>
              <option>Очерк</option>
              <option>Поэма</option>
              <option>Повесть</option>
              <option>Пьеса</option>
            </select>

            <input
              type="number"
              name="year"
              min="1800"
              max="2024"
              placeholder="Год выпуска..."
              value="{{ book_data.year or '' }}"
              class="block border border-solid border-black rounded outline-none pl-2 py-2 pr-12 w-full h-[42px]"
            >

            <input
              type="text"
              name="publishing_house"
              placeholder="Издательство..."
              value="{{ book_data.publishing_house or '' }}"
              class="block border border-solid border-black rounded outline-none pl-2 py-2 pr-12 w-full h-[42px]"
            >

            <input
              type="text"
              name="author"
              placeholder="Автор..."
              value="{{ book_data.author or '' }}"
              class="block border border-solid border-black rounded outline-none pl-2 py-2 pr-12 w-full h-[42px]"
            >

            <input
              type="number"
              min="10"
              name="pages_qnt"
              placeholder="Количество страниц..."
              value="{{ book_data.pages_qnt or '' }}"
              class="block border border-solid border-black rounded outline-none pl-2 py-2 pr-12 w-full h-[42px]"
            >
          </div>
        </div>

        <textarea
            name="book_desc"
            placeholder="Описание книги..."
            class="!transition-none p-2 border border-solid border-black rounded outline-none w-full min-w-full max-w-full min-h-[80px]"
        >{% if action=="edit" %}{{ book_data.short_desc }}{% endif %}</textarea>

        <div class="flex justify-end w-full">
          <button
              type="submit"
              class="py-2 px-6 text-base font-medium text-black text-center bg-white rounded border border-solid border-black w-full md:w-auto hover:scale-110"
          >
            {% if action=="create" %}Создать{% else %}Сохранить{% endif %}
          </button>
        </div>
    </form>
{% endmacro %}
